{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% if attrs.form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in attrs.form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
{% for field in attrs.form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">

        {% if field.widget.input_type == "textarea" %}
            {{ field|as_crispy_field }}
        {% else %}
                {{ field|as_crispy_field }}
        {% endif %}

    </div>
{% endfor %}
