/* Global Styles */
html {
    height: 100%; /* Make sure the html element fills the height */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #444;
    display: flex; /* Display body as a flex container */
    flex-direction: column; /* Arrange children elements in a column */
    min-height: 100%; /* Ensure it takes at least the viewport height */
}

/* Main Content Customization */
.container {
    background: floralwhite;
    padding-top: 20px;
    flex: 1; /* Allows container to expand to fill available space */
}

/* Sidebar Customization */
.list-group-item {
    border: none;
    border-bottom: 1px solid #ccc;
    color: #444;
}
.list-group-item:hover {
    background-color: #eee;
    color: #CC0000;
}
.list-group-item a {
    color: #0059b2;
    text-decoration: none;
}
.list-group-item a:hover {
    color: #CC0000;
    text-decoration: underline;
}

/* Navbar Customization */
.navbar {
    transition: top 0.3s;
    background: #3F4137;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand .logo {
    background: url('../images/logo.png') no-repeat;
    width: 50px;
    height: 50px;
    display: block;
}

.navbar-toggler {
    border-color: #fdc073;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fdc073' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Styles Toggler Customization */
.styles-toggler {
    display: none; /* Hidden by default */
    color: #fdc073; /* Adjust the color for visibility */
    font-size: 1.5rem; /* Increase the size for visibility */
    background: none; /* Remove any default background */
    border: none; /* Remove any default border */
}

/* Ensure color stays consistent on focus and active */
.styles-toggler:focus, .styles-toggler:active {
    color: #fdc073; /* Maintain the same color */
    background: none; /* Maintain no background */
    border: none; /* Maintain no border */
}

@media (max-width: 992px) {
    .styles-toggler {
        display: block; /* Show on small screens */
    }

    /* Styles Menu Customization for Mobile */
    .col-lg-3 {
        z-index: 1010;
        position: fixed;
        left: 0;
        top: 70px;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }

    .col-lg-3.open {
        transform: translateX(0);
    }
    
    #navbarNav {
        padding-top: 10px;
    }
}

/* Desktop specific adjustments */
@media (min-width: 992px) {
    .col-lg-3 {
        position: static; /* Reset to default positioning */
        transform: translateX(0); /* Reset any transformation */
    }
}


/* Footer Customization */
.footer {
    background: #3F4137;
    color: #aaa;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}


.footer .container {
    background: inherit;
}

/* Selected Sidebar Item Styling */
.list-group-item.selected {
    background-color: #5c598b;
    color: white;
    font-weight: bold;
}

.sticky-menu {
    position: sticky;
    top: 94px;
    overflow-y: auto;
    margin-top: 15px;
}

/* Custom Styles for Alert Close Button */
.alert .btn-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: transparent;
    border: none;
    color: inherit;
    opacity: 0.75;
}

.alert .btn-close:hover {
    opacity: 1;
}

/* Additional styling to ensure proper alignment */
.alert {
    position: relative;
    padding-right: 2.5rem; /* Adjust padding to accommodate the close button */
}
