<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock head_title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
<div class="container col-12 col-md-6 col-lg-4 mt-5 py-4" style="background: floralwhite;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{% url 'musicians:home' %}" class="nav-link">{% trans "Home" %}</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a href="{% url 'users:profile' %}" class="nav-link">{% trans "Profile" %}</a>
                </li>
                <li class="nav-item"><a href="{% url 'account_email' %}" class="nav-link">{% trans "Change Email" %}</a>
                </li>
                <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">{% trans "Sign Out" %}</a>
                </li>
            {% else %}
                <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">{% trans "Sign In" %}</a></li>
                <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">{% trans "Sign Up" %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% block body %}
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}warning{% else %}{{ message.tags }}{% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock content %}
    {% endblock body %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
{% block extra_body %}{% endblock extra_body %}
</body>
</html>
