django==5.0.6
djangorestframework==3.15.1
django-filter
django-environ
psycopg2-binary
django-autoslug
django-embed-video
pillow
django-cors-headers
drf-spectacular
pika
django-storages
google-cloud-storage
django-redis
gunicorn
whitenoise
isort
flake8
