<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'musicians/css/styles.css' %}"/>
    <link rel="shortcut icon" href="{% static 'musicians/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block topmenu%}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
            {% for di in menu %}
				<li><a href="{% url di.url_name %}">{{di.title}}</a></li>
            {% endfor %}

			{% if request.user.is_authenticated %}
				<li class="last">
					{{user.username}} | <a href="{% url 'logout' %}">Log Out</a>
				</li>
			{% else%}
				<li class="last">
					<a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Log In</a>
				</li>
			{% endif %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock topmenu%}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Left sidebar -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if style_selected == 0 %}
			<li class="selected">All styles</li>
		{% else %}
			<li><a href='{% url "home" %}'>All styles</a></li>
		{% endif %}

		{% for style in styles %}
			{% if style_selected == style.id %}
				<li class="selected">{{style.name}}</li>
			{% else %}
				<li><a href="{{ style.get_absolute_url }}">{{style.name}}</a></li>
			{% endif %}
		{% endfor %}

		<li class="share">
		<p>Our partners:</p>
		<a class="share-yt" href="https://www.mtv.com/" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- End of left sidebar -->
<td valign="top" class="content">
	<!-- Breadcrumbs -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Block content -->
    <div class="content-text">
        {% block content %}
        {% endblock %}
	</div>
<!-- End of block content -->

<!-- Pagination -->
    {% if page_obj.has_other_pages %}
        <div class="pagination-wrapper">
            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}"
                       class="large-text tooltip-last"
                       data-tooltip="Previous page">&laquo;</a>
                {% else %}
                    <a href="" class="large-text tooltip disabled"
                       data-tooltip="Previous page">&laquo;</a>
                {% endif %}

                {% if page_obj.number == 1 %}
                    <a href="" class="active tooltip" data-tooltip="Current page">1</a>
                {% else %}
                    <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page=1" class="tooltip">1</a>
                {% endif %}

                {% if page_obj.number > 3 %}
                    <a href="" class="tooltip default-cursor">...</a>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if p > 1 and p < paginator.num_pages %}
                        {% if p == page_obj.number %}
                            <a href="" class="active tooltip" data-tooltip="Current page">{{ p }}</a>
                        {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
                            <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ p }}"
                               class="tooltip">{{ p }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page_obj.number < paginator.num_pages|add:-2 %}
                    <a href="#" class="tooltip default-cursor">...</a>
                {% endif %}

                {% if page_obj.number == paginator.num_pages %}
                    <a href="#" class="active tooltip" data-tooltip="Current page">{{ paginator.num_pages }}</a>
                {% else %}
                    <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ paginator.num_pages }}"
                       class="tooltip">{{ paginator.num_pages }}</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.next_page_number }}"
                       class="large-text tooltip-last"
                       data-tooltip="Next page">&raquo;</a>
                {% else %}
                    <a href="" class="large-text tooltip disabled"
                       data-tooltip="Next page">&raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
<!-- End of pagination -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2022 Designed by Serhii Fil. All rights belong to their respective owners.</p>
	</div>
</td></tr></table>
<!-- End of footer and page -->

</body>
</html>