{% extends 'musicians/base.html' %}

{% block content %}
<h1>{{title}}</h1>
{% block add%}
{% endblock %}

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{form.non_field_errors}}</div>
    {% for pole in form %}
        <p>
            <label class="form-label" for="{{pole.id_for_label}}">{{pole.label}}</label>
            {{pole}}
        </p>
        <div class="form-error">{{pole.errors}}</div>
    {% endfor %}

    <button type="submit">Log In</button>
</form>
{% endblock content %}
