<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<meta http-equiv="Cache-Control" content="no-cache">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'musicians/css/styles.css' %}?t=<?php echo(microtime(true).rand()); ?>"  />
    <link rel="shortcut icon" href="{% static 'musicians/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block topmenu%}
    <div class="header">
        <ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
            {% for di in menu %}
				<li><a href="{% url di.url_name %}">{{di.title}}</a></li>
            {% endfor %}

			{% if request.user.is_authenticated %}
				<li class="last">
					{{user.username}} | <a href="{% url 'logout' %}">Выйти</a>
				</li>
			{% else%}
				<li class="last">
					<a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
				</li>
			{% endif %}
        </ul>
        <div class="clear"></div>
    </div>
{% endblock topmenu%}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Left sidebar -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if style_selected == 0 %}
			<li class="selected">Все стили</li>
		{% else %}
			<li><a href='{% url "home" %}'>Все стили</a></li>
		{% endif %}

		{% for style in styles %}
			{% if style_selected == style.id %}
				<li class="selected">{{style.name}}</li>
			{% else %}
				<li><a href="{{ style.get_absolute_url }}">{{style.name}}</a></li>
			{% endif %}
		{% endfor %}

		<li class="share">
		<p>Наши партнёры:</p>
		<a class="share-yt" href="https://rkn.gov.ru/" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- End of left sidebar -->
<td valign="top" class="content">
	<!-- Breadcrumbs -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Block content -->
    <div class="content-text">
        {% block content %}
        {% endblock %}
	</div>
<!-- End of block content -->
{% if page_obj.has_other_pages %}
<nav class="list-pages">
	<ul>
		{% if page_obj.has_previous %}
			<li class="page-num">
				<a href="?page=1">1&Lt;</a>
			</li>
			<li class="page-num">
				<a href="?page={{page_obj.previous_page_number}}">&lt;</a>
			</li>
		{% endif %}


		{% for page_num in paginator.page_range %}
			{% if page_num == page_obj.number %}
				<li class="page-num-selected">
					{{page_num}}
				</li>
			{% elif page_num >= page_obj.number|add:-1 and page_num <= page_obj.number|add:1 %}
				<li class="page-num">
					<a href="?page={{page_num}}">{{page_num}}</a>
				</li>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<li class="page-num">
				<a href="?page={{page_obj.next_page_number}}">&gt;</a>
			</li>
			<li class="page-num">
				<a href="?page={{paginator.num_pages}}">&Gt;{{paginator.num_pages}}</a>
			</li>
		{% endif %}
	</ul>
</nav>
{% endif %}

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2022 All rights reserved.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->

</body>
</html>