<!DOCTYPE html>
<html lang="">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
            color: #333;
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .email-container {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: .25rem;
            max-width: 600px;
            margin: auto;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="email-container">
        <h4 class="text-center mb-4">Message Received</h4>
        <p>Thank you for reaching out to us, {{ username }}!</p>
        <p>We have received your message and will respond to you soon.</p>
        <p><strong>Your Message Title:</strong> {{ title }}</p>
        <p><strong>Your Message:</strong> {{ content }}</p>
        <p class="mt-4">Best Regards,</p>
        <p>Musicians Articles Site Team</p>
    </div>
</body>
</html>
