{% extends 'musicians/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>About</h1>
            <p>This is my portfolio site, implemented using Django and various other web technologies.</p>
            <p>For source code and app overview visit my GitHub repository:</p>
            <a href="https://github.com/Serg-f/musicians-site" class="btn btn-outline-primary" target="_blank">GitHub Repo</a>
        </div>
    </div>
</div>
{% endblock content %}
