{% extends 'musicians/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'musicians/css/articles_list.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'musicians:articles_user' %}">
        {% csrf_token %}
        {{ formset.management_form }}

        {% if formset.forms %}
            <div class="button-toolbar" id="action-buttons">
                <button type="button" class="btn btn-secondary" id="check-all">Check All</button>
                <button type="button" class="btn btn-secondary" id="uncheck-all">Uncheck All</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>

            <div class="row">
                {% for form in formset %}
                    <div class="col-12 mb-4">
                        {{ form.id }}
                        <div class="article-panel">
                            {% if form.instance.photo %}
                                <img src="{{ form.instance.photo.url }}" class="img-article-left me-3">
                            {% endif %}
                            <div class="article-text">
                                <p class="property">Style: {{ form.instance.style }}</p>
                                <p class="property">Updated: {{ form.instance.time_update|date:"d-m-Y H:i:s" }}</p>
                                <p class="property">Created: {{ form.instance.time_create|date:"d-m-Y H:i:s" }}</p>
                       
                                <h5>{{ form.instance.title }}</h5>
                                <p>{{ form.instance.content|truncatewords:50 }}</p>
                                <div class="d-flex flex-wrap align-items-center justify-content-between">
                                    <div>
                                        <a href="{{ form.instance.get_absolute_url }}" class="btn btn-primary me-2">
                                            Read article</a>
                                        <a href="{% url 'musicians:article_edit' form.instance.style.slug form.instance.slug %}"
                                           class="btn btn-secondary me-2">Edit</a>
                                        <a href="{% url 'musicians:article_delete' form.instance.style.slug form.instance.slug %}"
                                           class="btn btn-danger me-2">Delete</a>
                                    </div>
                                    <div class="form-check form-switch">
                                        {{ form.is_published }}
                                        <label class="form-check-label"
                                               for="{{ form.is_published.id_for_label }}">Published</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-articles-message">
                <p>You don't have any articles yet.</p>
                <p>Create the first one!</p>
                <a href="{% url 'musicians:article_create' %}" class="btn btn-primary">Create Article</a>
            </div>
        {% endif %}
    </form>
    <script defer>
        document.addEventListener('DOMContentLoaded', function () {
            let checkAllButton = document.getElementById('check-all');
            let uncheckAllButton = document.getElementById('uncheck-all');
            let lastScrollTopForButtons = 0;
            let actionButtons = document.getElementById('action-buttons');
            const mobileViewWidth = 992; // Width to differentiate between mobile and desktop view

            if (checkAllButton && uncheckAllButton) {
                checkAllButton.addEventListener('click', function () {
                    document.querySelectorAll('[id^="id_form-"][id$="-is_published"]').forEach(function (checkbox) {
                        checkbox.checked = true;
                    });
                });

                uncheckAllButton.addEventListener('click', function () {
                    document.querySelectorAll('[id^="id_form-"][id$="-is_published"]').forEach(function (checkbox) {
                        checkbox.checked = false;
                    });
                });
            }

            window.addEventListener('scroll', function () {
                let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

                if (window.innerWidth <= mobileViewWidth && actionButtons) {
                    if (currentScroll > lastScrollTopForButtons) {
                        // Scrolling down in mobile view
                        actionButtons.style.top = '-60px'; // Hide toolbar
                    } else {
                        // Scrolling up in mobile view
                        actionButtons.style.top = '76px'; // Show toolbar
                    }
                    lastScrollTopForButtons = currentScroll <= 0 ? 0 : currentScroll;
                } else if (actionButtons) {
                    // In desktop view, keep the toolbar static
                    actionButtons.style.top = '76px'; // Adjust this value based on your navbar's height
                }
            }, false);
        });
    </script>

{% endblock %}
